

.ui-widget button {
    font-size: 12px;
}

* html INPUT.CHECKBOX {
    border: none !important;
}

.lazyMessageOuter {
    position: relative;
    display: table;
    vertical-align: middle;
    width: 95%;
    /*background-color: #CFDFEF;*/
    background-color: #FFF;
    border: none;
}

.ui-tabs-nav {
    border-bottom: 1px solid #ddd;
}

.table th, .table td {
    border-top: 0px;
}

.lazyMessageOuterInternal {
    position: relative;
    display: table;
    vertical-align: middle;
    width: 100%;
    /*background-color: #CFDFEF;*/
    background-color: #FFF;
    border: none;
}

.lazyMessageInner {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}

* html .lazyMessageInner {
    top: 50%;
    left: 0;
}

* html .lazyMessageInner .lazyMessageMiddle {
    position: relative;
    top: -50%;
}

.ui-resizable {
    z-index: 102;
}

.lazyLoadMessage {
    background: url(../img/indicator.gif) transparent no-repeat scroll left center;
    padding-left: 20px;
    color: #003399 !important;
}

#nav-menu.table-header {
    font: 18px;
    /*height: 45px;*/
    background-color: #f5f5f5;
}

#nav-menu .logo {
    float: left;
    display: inline;
    width: 280px;
    height: 45px !important;
    background: url(../img/logo.png) left no-repeat;
    margin: 3px 40px 3px 5px;
}

#nav-menu ul {
    float: left;
    display: inline;
    list-style: none;
    padding: 0;
    margin: 0;
}

#nav-menu li {
    float: left;
    margin: 0 0.15em;
    position: relative;
    display: inline;
}

#nav-menu li a {
    height: 51px;
    line-height: 51px;
    font-size: 13px;
    float: left;
    margin-left: 30px;
    margin-right: 30px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    background: #f5f5f5;
}

#nav-menu li a:link {
    color: #5E7684;
}

#nav-menu li a:hover {
    color: #2d4c77;
}

#nav-menu li a:visited {
    color: #5E7684;
}

#nav-menu li a:active {
    color: #5E7684;
}

/*1st sub level menu*/
#nav-menu li ul {
    position: absolute;
    left: 20px;
    display: block;
    visibility: hidden;
    z-index: 1;
}

/*Sub level menu list items (undo style from Top level List Items)*/
#nav-menu li ul li {
    display: list-item;
    float: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
#nav-menu li ul li ul {
    top: 0;
}

/* Sub level menu links style */
#nav-menu li ul li a {
    width: 170px; /*width of sub menus*/
    margin: 0;
    padding: 5px 40px 5px 10px;
    border-top-width: 0;
    border-bottom: 1px solid #bababa;

    height: 35px;
    line-height: 35px;

    text-align: left;
}

#nav-menu li ul li a:hover {
    /*sub menus hover style*/
    background: #eee;;
}

.savedDataForm {
    margin: 0 0 5px;
}

/* стрелка на элементе с выпадающим меню */
.downarrowclass {
    height: 9px;
    margin-bottom: 1px;
    margin-left: 5px;
    width: 9px;
}

/* стрелка на элементе с выпадающим меню */
.rightarrowclass {
    height: 9px;
    margin-bottom: 1px;
    margin-left: 5px;
    width: 9px;
}

/* /Подменю */

.form-link-action-ex {
    font: normal 11px;
    font-weight: normal;
    height: 26px;
    color: #039;
    background: url(../img/dot_next_med.gif) center left no-repeat;
    text-decoration: none;
    padding: 7px 0px 0px 24px;
    border-width: 0px;
    text-align: left;
    cursor: hand;
    cursor: pointer;
    text-decoration: none;
    white-space: nowrap;
}

.form-button-submit-med-ex {
    height: 26px;
    font: normal 11px arial;
    font-weight: bold;
    color: #9DCB1C;
    background: url(../img/dot_saveclose_med.gif) center right no-repeat;
    margin: 0px;
    padding: 6px 34px 1px 3px;
    text-decoration: none;
    text-align: right;
    width: 85px;
    white-space: nowrap;
}

.form-button-close-med-ex {
    height: 26px;
    font: normal 11px arial;
    color: #F8351D;
    background: url(../img/dot_close_med.gif) center right no-repeat;
    padding: 4px 15px 0px 0px;
    text-decoration: none;
    width: 65px;
    white-space: nowrap;
    border-width: 0px;
}

.closed-section {
    background-image: url("/ndf/gmcstb-ndf/img/plus.gif");
    background-position: 10px center;
    background-repeat: no-repeat;
    padding-left: 30px;
}

.opened-section {
    background-image: url("/ndf/gmcstb-ndf/img/minus.gif");
    background-position: 10px center;
    background-repeat: no-repeat;
    padding-left: 30px;
}

.section-label-white {
    height: 22px;
    font: normal 12px arial;
    color: #678;
    text-align: right;
    background-color: #FFF;
}

.section-label-white-right {
    height: 22px !important;
    font: normal 12px arial !important;
    color: #678 !important;
    text-align: right !important;
    padding-right: 4px;
}

.section-input {
    background-color: #EBEFF6;
}

.form-button-divider {
    font: normal 12px arial;
    color: #ccc;
    width: 20px;
    margin: 0px 10px 0px 10px;
    position: inline
}

button.form-button-calculate {
    background: url("../img/calculator.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    border-width: 0;
    cursor: pointer;
    height: 26px;
    padding: 0 25px 0 0;
    text-align: left;
    text-decoration: none;
    font-size: 12px;
}

button.form-button-calculate-off {
    height: 20px;
    font: normal 12px arial;
    color: #039;
    background: url(../img/pricer_med_b_off.gif) center right no-repeat;
    text-decoration: none;
    padding: 0px 23px 0px 0px;
    border-width: 0px;
    text-align: left;
    cursor: hand;
    cursor: pointer;
}

button.form-button-refresh {
    height: 26px;
    background: url(../img/refresh2.png) center right no-repeat;
    padding: 0px 28px 0px 0px;
    text-decoration: none;
    font-size: 12px;
    text-align: right;
    white-space: nowrap;
    border-width: 0px;
    cursor: hand;
    cursor: pointer;
}

button.form-button-refresh-off {
    height: 26px;
    font-size: 12px;
    background: url(../img/refresh2.png) center left no-repeat;
    padding: 0px 0px 0px 30px;
    text-decoration: none;
    text-align: right;
    white-space: nowrap;
    border-width: 0px;
    cursor: hand;
    cursor: pointer;
}

button.form-button-download {
    height: 26px;
    font-size: 12px;
    background: url(../img/download.png) center left no-repeat;
    padding: 0px 0px 0px 30px;
    text-decoration: none;
    text-align: right;
    white-space: nowrap;
    border-width: 0px;
    cursor: hand;
    cursor: pointer;
}

button.form-button-save {
    height: 26px;
    font-size: 12px;
    background: url(../img/save.png) center left no-repeat;
    padding: 6px 0px 0px 24px;
    text-decoration: none;
    text-align: right;
    white-space: nowrap;
    border-width: 0px;
    cursor: hand;
    cursor: pointer;
}

button.form-button-export {
    background: url("../img/export.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    border-width: 0;
    cursor: pointer;
    font-size: 12px;
    height: 26px;
    margin-left: 10px;
    padding: 0 0 0 30px;
    text-align: right;
    text-decoration: none;
    white-space: nowrap;
}

button.form-button-save-off {
    height: 28px;
    font-weight: normal;
    font-size: 12px;
    background: url(../img/database_plus.png) center left no-repeat;
    padding: 0px 0px 0px 30px;
    text-decoration: none;
    text-align: right;
    white-space: nowrap;
    border-width: 0px;
    cursor: hand;
    cursor: pointer;
}

.new-button {
    height: 30px;
    font: normal 12px arial;
    font-weight: normal;
    background: url(../img/add.png) center left no-repeat;
    padding: 6px 0 6px 28px;
    text-decoration: none;
    text-align: right;
    white-space: nowrap;
    border-width: 0px;
    cursor: hand;
    cursor: pointer;
}

.form-title {
    font-family: Arial, sans-serif;
    font-size: 18px;
    vertical-align: top;
    color: #999;
    white-space: nowrap;
    height: 25px;
    text-align: left
}

#feedback {
    margin-bottom: 10px;
}

#splitter {
    margin: 10px 10px 10px 10px;
    height: 91%;
    border: 0px;
}

#priceParameters {
    margin: 10px 10px 10px 10px !important;
}

#productsFilter {
    background-color: #f5f5f5;
    border-radius: 6px 6px 6px 6px;
}

#productsFilter tr td {
    text-align: right;
    white-space: nowrap;
}

#productsFilter tr td select {
    font: normal 12px arial;
    width: 100%;
    text-align: justify;
    white-space: nowrap;
}

#priceVariants {
    margin-top: 15px !important;
}

#assetDialogCss table tr td {
    text-align: right;
    white-space: nowrap;
}

#assetDialogCss tr td select {
    text-align: justify;
    white-space: nowrap;
}

table {
    width: 100%;
    font-size: 12px;
}

table tbody tr td a.edit-link {
    background: url(../img/edit.png) center left no-repeat;
    padding: 6px 0 6px 28px;
    text-decoration: none;
    text-align: right;
    white-space: nowrap;
    border-width: 0px;
    cursor: hand;
    cursor: pointer;
    text-decoration: none;
}

.description-link {
    background: url(../img/document.png) center left no-repeat;
    padding: 6px 0 6px 28px;
    text-decoration: none;
    text-align: right;
    white-space: nowrap;
    border-width: 0px;
    cursor: hand;
    cursor: pointer;
}

tr td a.delete-link {
    background: url(../img/delete.png) center left no-repeat;
    padding: 6px 0 6px 28px;
    text-decoration: none;
    text-align: right;
    white-space: nowrap;
    border-width: 0px;
    cursor: hand;
    cursor: pointer;
}

tr td a.select-link {
    background: url(../img/select.png) center left no-repeat;
    padding: 6px 0 6px 28px;
    text-decoration: none;
    text-align: right;
    white-space: nowrap;
    border-width: 0px;
    cursor: hand;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #678;
}

th.wicket_orderUp {
    background: url("../img/arrow_up.png") no-repeat right center;
}

th.wicket_orderDown {
    background: url("../img/arrow_down.png") no-repeat right center;
}

th.wicket_orderNone {
    background: url("../img/arrow_off.png") no-repeat right center inherit;
}

.arrowUp {
    background: url("../img/up.png") center no-repeat;
}

.arrowDown {
    background: url("../img/down.png") center no-repeat;
}

li {list-style-type: none;}

.table th {
    padding: 3px;
}

.dataGrey {
    background: #f5f5f5;
    width: 55px;
    display: inline;
}

#assetDialogCss input, #productDialogCss input, #pricingDialogCss input, .k-datepicker, .k-dropdown,
.ui-spinner, .ui-widget input, .ui-widget select, .ui-widget textarea, .k-combobox {
    width: 100%;
}

#savedData .k-widget {
    width: 100px;
}

table.ui-styled-table {
    width: 100%;
}

.select2-container {
    width: 100%;
}

.two-input-cell > span {
    width: 49%;
}

.inner-table {
    border: 0px;
    border-spacing: 0px;
    border-collapse: collapse;
    font: 12px arial !important;
}


.k-grid  .k-grid-header  .k-header  .k-link {
    height: auto;
}

.k-grid  .k-grid-header  .k-header {
    white-space: normal;
}


#wrap {
    height: auto !important;
    margin: 0 auto -60px;
    min-height: 100%;
}

#footer {
    background-color: #f5f5f5;
}

html, body {
    height: 100%;
}